<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="applicationMenu :: head('Empresas')">
</head>

<body>
    <section th:replace="fragments/createEnterprise :: createEnterprise" th:if="${isUserAdmin}"></section>
    <div th:each="empresa : ${empresas}" th:if="${isUserAdmin}">
        <div th:replace="fragments/editEnterprise :: editEnterprise(${empresa})"></div>
        <div th:replace="fragments/deleteEnterprise :: deleteEnterprise(${empresa})"></div>
    </div>
    <div class="d-flex vh-100">
        <div th:replace="sideBar :: sideBar"></div>
        <div class="col">
            <h2 class="text-center my-5">Sistema de gestion de Ingresos y Gastos</h2>
            <div class="card m-auto w-75">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Listado de Empresas</h4>
                    <a th:if="${isUserAdmin}" href="#" class="btn btn-primary px-5" data-toggle="modal"
                        data-target="#createEnterprise">
                        <i class="fas fa-plus"></i> Agregar
                    </a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>NIT</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empresa, contador : ${empresas}">
                            <td>[[${contador.count}]]</td>
                            <td>[[${empresa.name}]]</td>
                            <td>[[${empresa.address}]]</td>
                            <td>[[${empresa.phone}]]</td>
                            <td>[[${empresa.nit}]]</td>
                            <td class="d-flex justify-content-center" style="gap: 10px;">
                                <div th:if="${isUserAdmin}" class="d-flex align-items-stretch" style="gap: 10px;">
                                    <button type="button" class="btn btn-danger fa-solid fa-trash"
                                        th:attr="data-target='#deleteEnterprise' + ${empresa.id}"
                                        data-toggle="modal"></button>
                                    <button type="button" class="btn btn-primary fa-solid fa-pen-to-square"
                                        th:attr="data-target='#editEnterprise' + ${empresa.id}"
                                        data-toggle="modal"></button>
                                </div>
                                <a th:href="@{/enterprise/{id}/employees(id=${empresa.id})}" class="btn btn-secondary">
                                    <i class="fas fa-person"></i>
                                    Empleados
                                </a>
                                <a th:href="@{/enterprise/{id}/transactions(id=${empresa.id})}"
                                    class="btn btn-secondary">
                                    <i class="fas fa-money-bill"></i>
                                    Transacciones
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>