<!DOCTYPE html>
<html lang="es">

<body>
    <div th:fragment="sideBar" class="col-md-3 col-xl-2 bg-dark">
        <div class="d-flex flex-column mt-5 align-items-center">
            <a href="/app" class="mb-3">
                <img src="/images/logo.png" width="200" height="200" alt="Logo">
            </a>
            <ul class="nav nav-pills flex-column align-items-center">
                <li>
                    <a th:href="@{/enterprises-list}" class="btn btn-secondary my-3">
                        <i class="fa-solid fa-city"></i> Empresas</a>
                </li>
                <li>
                    <a th:href="@{/employees-list}" class="btn btn-secondary my-3">
                        <i class="fas fa-users"></i> Empleados</a>
                </li>
                <!-- <li>
                    <a href="#" class="btn btn-secondary my-3">
                        <i class="fa-solid fa-money-bill-transfer"></i> Ingresos y egresos</a>
                </li> -->
            </ul>
        </div>
    </div>
</body>

</html>